:root {
    --color-brand--1: #ffb545;
    --color-brand--2: #00c46a;
  
    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-light--1: #aaa;
    --color-light--2: #ececec;
    --color-light--3: rgb(214, 222, 224);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
font-size: 62.5%;
box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    color: var(--color-light--2);
    font-weight: 400;
    line-height: 1.6;
    height: 100vh;
    overscroll-behavior-y: none;
  
    background-color: #fff;
    padding: 2.5rem;
  
    display: flex;
}

.logo{
    height: 8rem;
    align-self: center;
}

.button {
    background-color: var(--color-light--1);
    color: #fff;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius:26px 6px;
    /* border: none; */
    border: none;
    border-color: #38485C;
  }

#map { 
    flex: 1;
    height: 100%;
    background-color: var(--color-light--1);
    position: relative;
    z-index: 1;
}

/* adjust as needed */
@media screen and (min-width: 768px) {
    #content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-dark--1);
    padding: 2.5rem;
    border-radius: 26px 26px 0px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    z-index: 999;
    width: 80%;
    height: 35%;
    overflow-y: auto;
    display: flex;
    }
    }


#label {
    position: absolute;
    top: 0rem;
    right: 10rem;
    background-color: var(--color-dark--1);
    padding: 2.5rem;
    border-radius: 0px 0px 26px 26px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
  



.sidebar {
    flex-basis: 50rem;
    background-color: var(--color-dark--1);
    padding: 3rem 3rem 4rem 3rem;
    display: flex;
    flex-direction: column;
}

.h1 {
    border: 1px;
    padding: 16px;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--color-dark--2);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--color-dark--2);
    cursor: pointer;
}

.containt-container {
    list-style: none;
    height: 200vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.containt-container > * {
margin: 10px 0;
}
  

.graph-container{
    color: var(--color-light--3);
}


select.list_input {
    padding: 8px;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
  }

  


/* CSS */
.button-89 {
--b: 3px;   /* border thickness */
--s: .45em; /* size of the corner */
--color: var(--color-light--2);

padding: calc(.5em + var(--s)) calc(.9em + var(--s));
color: var(--color);
--_p: var(--s);
background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
transition: .3s linear, color 0s, background-color 0s;
outline: var(--b) solid var(--color-dark--1);
outline-offset: .6em;
font-size: 16px;

border: 0;

user-select: none;
-webkit-user-select: none;
touch-action: manipulation;

display: block;
margin-bottom: 10px;
}

.button-89:hover,
.button-89:focus-visible{
--_p: 0px;
outline-color: var(--color);
outline-offset: .05em;
}

.button-89:active {
background: var(--color);
color: #fff;
}


#routes-select {
    display: none;
    position: absolute;
    top: 120px;
    right: 0px;
}


#current-graph {
    display: flex;
  }
  
#barchart {
flex: 1;
width: 65%;
}

#BI, #ageChartCanvas, #incomeChartCanvas, #occChartCanvas {

    vertical-align: top;
    margin-right: 20px;
}


#model-tab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.piechart-container {
    width: 10%;
    margin-left: 20px;
}

.barchart-container {
    width: 20%;
    margin-left: 20px;
}


.chart-wrapper {
    width: 15%;
}

.vertical-line {
border-left: 2px solid white;
height: 200px; /* adjust the height to your needs */
}

#current-data, #BI {
padding: 10px;
margin-right: 10px;
font-size: 12px;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: var(--color-dark--1);
    background-color: var(--color-dark--2);
    bottom: 25rem;
    border-radius: 5rem;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 5rem;
    color: #fff;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: var(--color-dark--1);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: var(--color-dark--1);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 30px 20px;
    border: none;
    border-top: none;
    height: 80%;
  }
  

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #2d3439;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
    border-radius: 20px;
}

#popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #2d3439;
    color: #fff;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

#popup-content {
    padding: 1rem;
    font-size: 14px;
    color: var(--color-dark--1);
}

#chartId {
    width: 50%;
}

#currentChart, #predictedChart{
    width: 60%;
    height: 100%;
}

.eco-part {
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start;
    flex-direction: column;
    
}
  
.eq-part {
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start;
    flex-direction: column;
}

  
.dashboard_title {
    background-color: var(--color-dark--2);
    border-radius: 26px;
    width: 90%;
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 10px;
  }

.eco-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.eq-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
  
.single-jitter {
    width: 50%;
}

.multi-jitter{
    width: 100%;
}

.js-plotly-plot{
    width: 80%;
    height: 100%;
}